.offerTopTitle {
    font-size: 1.6rem;
    color: rgba(153, 94, 122, 1);
    margin-bottom: 2rem;
}

.offerMainTitle {
    font-size: 3rem;
    color: black;
    margin-bottom: 3rem;
    line-height: normal;
    text-align: center;
}

.offerValued {
    color: black;
    text-decoration: line-through;
    font-size: 2rem;
}

.offerPrice {
    color: red;
    font-size: 2.5rem;
}